.main{
    height: 100vh;
    display: flex;
 
}

.main2{
    display: flex;
    gap: 30px;
     margin: 80px 0 0 30px;
}

.main2 label{
    font-size: 12px;
    color: rgb(110, 110, 110);
    margin-left: 5px;
}

.btns{
    margin-left: 150px;

    
}

.btns > button{
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 5px;
    width: 60px;
    font-size: 10px;
}

.btn1{
    font-family: Arial, Helvetica, sans-serifs;
    border: none;
    font-weight: bold;
    color: rgb(248, 248, 248);
    box-shadow: 0 5px 0 #03bb13;
    transition: all 0.2s;
    background: #21fc04;
}

.btn1:active{
    transform: translateY(4px);
    box-shadow: 0 2px 0 #21fc04;
    color: rgb(7, 7, 7);
  }

.btn2{
    font-family: Arial, Helvetica, sans-serifs;
    border: none;
    font-weight: 300;
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 0 #babd01;
    transition: all 0.2s;
    background: #d6d300;
}

.btn2:active{
    transform: translateY(4px);
    box-shadow: 0 2px 0 #e6e209;
    color: rgb(7, 7, 7);
}

.btn3{
    font-family: Arial, Helvetica, sans-serifs;
   border: none;
   font-weight: 300;
   color: rgb(248, 248, 248);
   box-shadow: 0 5px 0 #0206f7;
   transition: all 0.2s;
   background: #016dfc;
}

.btn3:active{
    transform: translateY(4px);
  box-shadow: 0 2px 0 #016dfc;
  color: rgb(7, 7, 7);
}

.btn4{
   font-family: Arial, Helvetica, sans-serifs;
   border: none;
   font-weight: 300;
   color: rgb(248, 248, 248);
   box-shadow: 0 5px 0 #be0332;
   transition: all 0.2s;
   background: #fa0233;
}


.btn4:active{
  transform: translateY(4px);
  box-shadow: 0 2px 0 #fa0233;
  color: rgb(7, 7, 7);
}


.btn5{
    box-shadow: 0 5px 0 #0f0f0f9c;
    width: 70px;
    height: 30px;
    background-color: rgba(110, 110, 110, 0.281);
    display: inline;
    padding: 4px;
    border-radius: 5px;
 }
 
 
 .btn5:active{
   transform: translateY(4px);
   box-shadow: 0 2px 0 #383838;
   color: rgb(255, 255, 255);
 }
 




.btnshine {
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 12px 48px;
    color: #ffffff;
    background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    white-space: nowrap;
    }

    @keyframes shine {
        0%
        {  background-position: 0}
        80%
         { background-position: 360px}
        100%
         { background-position: 360px}
        }
      
      .table{
      position: absolute;
      top: 220px;
      }


      .empty{
        height: 30px;
        background-color: rgb(122, 122, 122);
        color: rgb(255, 252, 252);    
      }

      .empty h4{
        padding-left: 10px;
        padding-top: 10px;
      }