/* .cont{
    width: 100%;
    height:100vh;
    padding: 30px;
    padding-bottom: 20px;
    margin-top: -80px;
} */

.hpcard3{
    height: 420px;
    width: 260px;
    background-color: pink;
    clip-path:polygon(0px 135px, 100% 0, 100% 0, 100% 100%, 0 100%);
    padding: 10px;
    padding-top: 120px;
    margin-top: -50px;

}
.outerCircle{
    height: 70px;
    width: 70px;
    background-color: red;
    border: 4px solid white;
    position: relative;
    top: 52px;
    left: 97px;
    border-radius: 50%;
    z-index: 1;
}

.hpTitle2{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5px;
    margin-left: 50px;
    font-size: 17px;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.hpTitle3{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5px;
    margin-left: 69px;
    font-size: 17px;
}

.hpdata{
    width: 100%;
    
    background-color: white;
    text-align: left;
    padding: 10px;
    background-color: antiquewhite;
    height: 175px
}
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&display=swap');
.dataLi{
    width: 100%;
   list-style-type:disc;
   font-family: 'Mukta', sans-serif;
}
.dataLi:hover{
    color: white;
    cursor: pointer;
    background-color: rgba(0, 135, 224, 0.734);
}


.outerDataImgCon {
    width: 100%;
    height: 103px;
    margin-left: 60px;
}

.outerDataImg{
    height: 108px;
    width: fit-content;
}


