.t1conatiner{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.t1title{
    width: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
.tabTitle{
    padding-left: 100px;
    color: plum;
    font-family: 'Bungee Spice', cursive;
}

.tblcontent{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: rgba(13, 13, 13, 0.435) 0px 10px 36px 0px, rgba(179, 179, 179, 0.56) 0px 0px 0px 1px;
    background-color: #fdfdfdce;
}

.tblcontent thead tr {
    background-color: rgba(105, 105, 105, 0.818);
    text-align: left;
    font-weight: bold;
    }

.tblcontent th{
    color: rgb(255, 255, 255);
    font-size: 11px;
    letter-spacing: 2px;
    border-left: 1px solid rgb(14, 13, 13);
}

.tblcontent th,
.tblcontent td {
    padding: 10px 8px;
    font-weight: bold;
}

.tblcontent  tbody td {
   border: 1px solid rgb(110, 110, 110);
   color: #000000;
   font-size: 10px;
   font-family: 'Inter', sans-serif;
}

.tblcontent tbody tr:nth-of-type(even) {
    background-color: #7d7d7d;
}

.tblcontent tbody tr:last-of-type{
    border-bottom: 5px solid #5e5d5d;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
.head2{
    width: 200px;
    font-family: 'PT Sans Narrow', sans-serif;
    
}


.tab2Body{
    display: grid;
    grid-template-rows: 100px 1fr;
    justify-content:center;
    padding: 1%;
}
