.file-frm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed blue;
    height: 150px;
    width: 278px;
    cursor: pointer;
    border-radius: 5px;
}