.numeric {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRl_wAqPr6COkMcidg-kZ0Od0vXw8BkHVWHuA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: 100px;

}

.first {
    color: #7D9D9C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 45%;
   
}

.sectop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    margin-left: 150px;
}

.sectopp {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 150px;
}
.second {
    margin-top: 30px;
    color:#7D9D9C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
    padding-left: 30px;
    margin-left: 37%;
}


.sectopp1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    margin-top: 30px;
    margin-left: 150px;
}

.sectopp2 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    border: 2px rich gray;
    height: 40px;
    font-weight: 600;
    background-color: #F5F5DC;
    margin-left: 150px;
}


.sectopp3 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    border: 2px rich gray;
    height: 40px;
    background-color: #F5F5DC;

    color: #000;
    
    font-weight: 600;
    margin-left: 150px;
} 


.back {
    margin-top: -30px;
    display: flex;
    cursor: pointer;

}

.backbut {
    background-color: red;
    color: aliceblue;
    border: 0ch;
    cursor: pointer;
    width: 60px;
    height: 30px;
    margin-left: 20px;
    margin-top: 28px;
}
/* .backbut:hover  {
    background-color: #6E5773;
    font-weight: 600;

} */

.navbar23{
    margin-top: -89px;
} 